{:deps    {clj-time/clj-time  {:mvn/version "0.15.0"}
           java-time-literals {:mvn/version "2018-04-06"}}
 :aliases {:uberjar {:extra-deps  {seancorfield/depstar
                                   {:local/root "../../"}}
                     :main-opts   ["-m" "hf.depstar.uberjar" "bug.jar"]}}}
